<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="/static/StyleSheets/style.css">
    <script src="https://kit.fontawesome.com/6332efefc1.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <div class="todo-container">
        <h2>To Do List</h2>
        <div class="todo">
            <form action="/" method="post" class="to-do-header">
                <input type="text" class="to-do-content">
                <button type="submit"><i class="fa-solid fa-plus"></i></button>
            </form>
            <ul class="to-do-list">
                <li class="to-do-list-item">
                    <div class="to-do-item-name">
                        random Text
                    </div>
                    <a href="" class="edit"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="" class="remove"><i class="fa-solid fa-trash"></i></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>